/* .utility-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25 ease-out;
}


.utility-container:hover {
    transform: scale(1.05);
} */






/*                                                 */
/*                                                 */
/*                                                 */
/*                      CARD DESIGN                */
/*                                                 */
/*                                                 */





.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    cursor: pointer;
    position: relative;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
}



.card .front-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
    border-radius: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .5);
    color: black;
    font-size: 2rem;
    height: 20rem;
    transition: all 1s ease;
}

.card:hover .front-side {
    transform: rotateY(-180deg);
}





.card .back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .5);
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
    color: black;
    font-size: 2rem;
    height: 20rem;
    transform: rotateY(180deg);
    transition: all 1s;    
}

.card:hover .back-side {
    transform: rotateY(0);
}



.card-icon {
    font-size: 11rem;
    margin-top: 5rem;
}


.card .front-heading {
    margin: .5rem auto;
}

.card .back-heading {
    margin-top: 2rem;
}


.card .landing-btn {
    margin-top: 5rem;
}